:root {
    --primary-color: #f44336 ;
    --white-color: #fff;
    --black-color:#000 ;
    --text-color: #5a5a5a;
}


html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', karla ;
    scroll-behavior: smooth;
}

body{
    padding: 0 ;
    margin: 0;
  
}

*{
    box-sizing: inherit;
}

.grid{
    width: 1500px;
    margin: auto ;
}

.row{
    width: 100%;
    display: flex;
    /* margin-left: -10px; */
    margin-right: -8px;  
}

.column_2 {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.column_3{
    width: 33.33333333333333333333333%;
    padding-left: 8px;
    padding-right: 8px;
}

#content{
    background-color: #f1f1f1;
}